@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
    Nothing here until you put something useful here.
</p>
<p>
    But I beg you ... don't!
</p>
<p>
    Consider a better Presentation architecture than using a Server (where nobody is actually on the device) to develop a Presentation, only to serialize it across the wire to the Client (that's a bit of a travesty).
</p>
<p>
    Instead, consider using this Server to present API endpoints to a Single Page Application/Architecture (SPA) client developed using Angular.IO, Vue.JS, or similar front-end framework.
</p>