<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="custom_vars_default_website_Url" value="https://localhost:44311/" />
    <add key="AadInstance" value="https://login.microsoftonline.com/{0}/v2.0/" />
    <add key="Tenant" value="BaseCommonTest.onmicrosoft.com" />
    <add key="ClientId" value="aed19d9e-9b8e-40aa-9cf7-b2f77c738610" />
    <add key="Appkey" value="N+f7JwZRPVkpstfkbULttfwMEGqyK0pNj6auqXgNgAU=" />
    <add key="RedirectUri" value="https://BaseCommonTest.onmicrosoft.com/CoreTest" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="xunit.analyzers" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.0.0" newVersion="0.9.0.0" />
      </dependentAssembly>-->
      
      
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>