<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="custom_vars_defaultUrl" value="https://localhost:44311/" />
    <add key="AadInstance" value="https://login.microsoftonline.com/{0}/v2.0/" />
    <add key="Tenant" value="BaseCommonTest.onmicrosoft.com" />
    <add key="ClientId" value="cd4408f8-f27a-430b-9b2f-5cdff510017d" />
    <add key="Appkey" value="U0hX/k6tm6Ww3a/AM2GSbQfiwf5Dnn84k6hazp+1W9I=" />
    <add key="RedirectUri" value="https://basecommontest.onmicrosoft.com/ATEDaemon" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>