@{
    ViewBag.Title = "Organisations";
    ViewBag.Subtitle = "Are generic concepts (a group of Individuals)...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>


<ul>
    <li>Organisations are Groups of Individuals, or other Organisations of Individuals (CoLs are such).</li>
    <li>Organisations have multiple Channels of Communication (website, phone, etc. )</li>
    <li>They can also obtionally have GeoLocation.</li>
    <li>They have Properties.</li>
    <li>Organisations have a classification OrganisationType.</li>
</ul>



<h3>API Examples</h3>
    The following are some example api calls, using OData terms such as $skip, $top, $inlinecount, $expand:

    <ul>
        <li><a target="_apis" href="~/OData/module2/organisation/">Generic Organisation</a></li>
    </ul>

