@{
    ViewBag.Title = "Prerequisites: Get the Code Base";
}
<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Subtitle</h3>


The purpose of this project is to create a scaffolding for new projects, that shaves off expensive yet repetitive base costs, while allowing concentration on the business end usage.


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read how this base solution was put together in order to understand how to build on top of it, saving time and expense.
        </p>
        <p><a class="btn btn-default" href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get the code</h2>
        <p>The source code of this solution is available for free.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/skysigal/app.core.application-on-mvc-webapi-net-framework">Learn more &raquo;</a></p>
    </div>
</div>