@{
    ViewBag.Title = "Configuration Record";
    ViewBag.Subtitle = "A record of configuration steps undertaken";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>

When starting up an application, lots of critical steps are taken to ensure a system is secure, performant, being monitored.

It's useful for sysadmins -- with sufficient permissions -- to be able to quickly determine whether sufficient steps were undertaken...




<h3>API Examples</h3>

The follwoing are some example api calls:

<ul>
    <li><a target="_apis" href="~/OData/configurationsteprecord/">ConfigurationStepRecords of startup steps</a></li>
</ul>

