@{
    ViewBag.Title = "Education Establishments";
    ViewBag.Subtitle = "Are basically Organisations...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>


Essentially, an Education Organisation (or is it Education Establishment?) is nothing more than a wrapper
around a <i>restrained set</i> of Organisations.

<ul>
    <li>Organisations are Groups of Individuals, or other Organisations of Individuals (CoLs are such).</li>
    <li>Organisations have multiple Channels of Communication (website, phone, etc. )</li>
    <li>They can also obtionally have GeoLocation.</li>
    <li>So do Individuals.</li>
    <li>Both have Properties.</li>
    <li>Organisations have a classification OrganisationType.</li>
</ul>



<h3>API Examples</h3>
    The following are some example api calls, using OData terms such as $skip, $top, $inlinecount, $expand:

    <ul>
        <li><a target="_apis" href="~/OData/educationorganisation/">Education Organisation</a></li>
    </ul>

