@{
    ViewBag.Title = "Exceptions";
    ViewBag.Subtitle = "Oops";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>

Systems shouldn't throw Exceptions. But they do. All the time.

It's useful for sysadmins -- with sufficient permissions -- to be able to quickly query a recorded exception...




<h3>API Examples</h3>

The following are some example api calls, using OData terms such as $skip, $top, $inlinecount, $expand:

<ul>
    <li><a target="_apis" href="~/OData/exceptionrecord/">Exceptions only</a></li>
    <li><a target="_apis" href="~/OData/exceptionrecord/?$count=true">Exceptions, with Count.</a></li>
    <li><a target="_apis" href="~/OData/exceptionrecord/?$filter=Level eq App.Core.Shared.Models.Entities.TraceLevel'Error'&$count=true">Exceptions, filtered by an Enum Value, Counted</a></li>
</ul>

