@{
    ViewBag.Title = "Person";
    ViewBag.Subtitle = "Are generic concepts...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>


<ul>
    <li>Individuals/Persons are the smallest unit of an Organisation.</li>
    <li>They have Properties.</li>
    <li>Individuals have multiple Channels of Communication (website, phone, etc. )</li>
    <li>They don't have GeoLocation as they move around.</li>
    <li>Individuals are associated to Organisations by their Role in that Organisation.</li>
</ul>



<h3>API Examples</h3>
    The following are some example api calls, using OData terms such as $skip, $top, $inlinecount, $expand:

    <ul>
        <li><a target="_apis" href="~/OData/body/">Individual Persons</a></li>
    </ul>

