@{
    //ViewBag.Title = "Prerequisites";
    //ViewBag.Subtitle = "...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>

Every Principal is assigned one or more Roles.

<h3>API Examples</h3>

The following are some example api calls, using OData terms such as $skip, $take, $inlinecount, $expand:

<ul>
    <li><a target="_apis" href="~/OData/role/">Role only</a></li>
    <li><a target="_apis" href="~/OData/role/?$expand=DataClassification">Role, with DataClassification</a></li>
</ul>


