@{
    ViewBag.Title = "Session";
    ViewBag.Subtitle = "Who accessed the system?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>


<h3>API Examples</h3>

The following are some example api calls, using OData terms such as $skip, $take, $inlinecount, $expand:

<ul>
    <li><a target="_apis" href="~/OData/session/">Session only</a></li>
    <li><a target="_apis" href="~/OData/session/?expand=Operations">Session, with Operations</a></li>
</ul>


