<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="App-Code-DemoMode" value="false" />
    <!-- Tip: 'StorageConnectionString' is a BuiltIn key that shortcircuits 
         storage to go to local storage emulator rather than on Azure -->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=false;" />
    <!-- DEV SETTINGS...BUT MUST BE OVERWRITTEN BY PIPEINE! -->
    <add key="Service-Integration-Azure-Arm-Resources-DefaultName" value="nzmoebase000000dt" />
    <add key="Service-Integration-Azure-SqlDatabase-CodeFirst-AttachDebuggerToPSSeeding" value="false" />
    <add key="Service-Integration-Azure-SqlDatabase-CodeFirst-SeedIncludeDemoEntries" value="true" />


    <add key="App-Module31-Extract-DocumentDb-Uri" value="https://nzmoebase.documents.azure.com:443/" />
    <add key="App-Module31-Extract-DocumentDb-AuthorisationKey" value="wEDBI7B1MPHtNK4y2Myi1h5falYVviMuVBQHgI9hUzT4HnLxsRCJzUC4BPvXW2XEzPJHFztRzhpRK6lBI3NG6A==" />
    <add key="App-Module31-Extract-DocumentDb-DatabaseName" value="dataFactory" />
    <add key="App-Module31-Extract-DocumentDb-CollectionName" value="syncData" />
    <add key="App-Module32-Extract-DocumentDb-Uri" value="https://nzmoebase.documents.azure.com:443/" />
    <add key="App-Module32-Extract-DocumentDb-AuthorisationKey" value="wEDBI7B1MPHtNK4y2Myi1h5falYVviMuVBQHgI9hUzT4HnLxsRCJzUC4BPvXW2XEzPJHFztRzhpRK6lBI3NG6A==" />
    <add key="App-Module32-Extract-DocumentDb-DatabaseName" value="dataFactory" />
    <add key="App-Module32-Extract-DocumentDb-CollectionName" value="syncData" />

  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->

    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\mssqllocaldb;Database=AppDbContextMod;Integrated Security=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <!-- You can set the DbContext Initializer via config, or via AppCoreDatabaseInitializerConfigure, AppModule01DatabaseInitializerConfigure, etc. -->
    <contexts>
      <!-- Tip: Use Type and Assembly name. Or FQ name as long as it is exactly right (or it won't find it) -->
      <!-- Tip: You won't be able to Resharper F12 until App.Core.Application has a direct reference to App.xxx.Infrastructure -->
      <context type="App.Core.Infrastructure.Db.Context.Default.AppCoreDbContext, App.Core.Infrastructure">
        <databaseInitializer type="App.Core.Infrastructure.Db.Context.Default.AppCoreDatabaseInitializer, App.Core.Infrastructure" />
      </context>
      <context type="App.Module32.Infrastructure.Db.Context.Default.AppModuleDbContext, App.Module32.Infrastructure">
        <databaseInitializer type="App.Module32.Infrastructure.Db.Context.Default.AppModuleDatabaseInitializer, App.Module32.Infrastructure" />
      </context>
    </contexts>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.0.0" newVersion="9.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.6.14301" newVersion="3.19.6.14301" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.6.14301" newVersion="3.19.6.14301" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
