@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>


<p>
    The system is designed folloging Domain Driven Design (DDD) patterns
    in order to implement Maintainabability and Modularity.

    <img src="~/Assets/images/system_description/ddd_overview.png"/>

</p>