@{
    ViewBag.Title = "Security";
    ViewBag.Subtitle = "Exposing APIs requires a mature Security foundation...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>

<p>
    <img src="~/Assets/images/system_description/base_objectmodel.png" />
</p>