@{
    ViewBag.Title = "About";
    ViewBag.Subtitle = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Subtitle</h3>


<p>
    THe purpose is to deliver a system 
    that meets business functional requirements, while 
    meeting ISO-25010 Qualities.
    </p>
    <img src="~/Assets/images/system_description/iso-25010.png"/>
